
@media (max-width:720px){
    .container{
        max-width: 480px;
    }
}
@media (max-width:600px){
    .container{
        max-width: 600px;
        
      
    }
    .block__row {
       display: flex;
       flex-direction: column;
       padding: 20px auto; 
       justify-content: space-between;

    }
    .block__column {
      margin:20px auto ;
    }
}
body{
    min-width: 1200px;
}
.block {
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.block__body {
}
.block__row {
    display: flex;
    margin: 0 -15px;
}
.block__column {
    padding: 0 15px;
  
}
.block__item {
display: flex;
flex-direction: column;
justify-content: center;

}
.block__img {
    background-color: darkolivegreen;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center ;
}
.block__title {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}
.block__text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}